@import url("./about-us.css");
@import url("../styles/contact-us.css");
:root {
    /* colors */
    /* light-mode */
    /* !light-mode-color */
    --light-mode-primary: #2C7EF8;
    --light-mode-primary-hover-light: #075CD9;
    --light-mode-on-primary-light: #EBEDEF;
    /* !light-mode-background-color */
    --light-mode-background-light: #EBEDEF;
    --light-mode-on-background-light: #191C1E;
    --light-mode-surface-light: #EBEDEF;
    /* !light-mode-Neutral-color */
    --light-mode-black: #000000;
    --light-mode-almost-black: #323233;
    --light-mode-charcoal: #646466;
    --light-mode-deep-gray: #7D7D7F;
    --light-mode-dark-gray: #AFAEB2;
    --light-mode-medium-gray: #C8C7CB;
    --light-mode-gray: #E1E0E5;
    --light-mode-soft-gray: #F5F6F8;
    --light-mode-light-gray: #FEFEFE;
    --light-mode-white: #FFFFFF;
    /* !light-mode-Error-success */
    --light-mode-error: #E63946;
    --light-mode-success: #90F677;
    /* dark-mode */
    /* !light-mode-color */
    --primary: #3A86F8;
    --primary-hover-dark: #6BA4FA;
    --on-primary-light: #EBEDEF;
    /* !light-mode-background-color */
    --background-dark: #040810;
    --on-background-dark: #E6E9EF;
    --surface-dark: #E6E9EF;
    /* !light-mode-Neutral-color */
    --dark-mode-white: #fff;
    --dark-mode-darkest-gray: #323233;
    --dark-mode-darker-gray: #646466;
    --dark-mode-dark: #7D7D7F;
    --dark-mode-medium-dark-gray: #AFAEB2;
    --dark-mode-medium-gray: #C8C7CB;
    --dark-mode-light-gray: #E1E0E5;
    --dark-mode-soft-gray: #F5F6F8;
    --dark-mode-lightest-gray: #FEFEFE;
    /* !light-mode-Error-success */
    --dark-mode-error: #E63946;
    --dark-mode-success: #90F677;
    /* !navbar */
    --quera-list: #141414;
    --gray-600: #666666;
    /* !header */
    --linear-gradient-from: #EBF3FF;
    --linear-gradient-to: #FFFFFF;
    /* !p */
    --gray-p: #444749;
    --dark-gray-p: #5C5C5C;
}


@font-face {
    font-family: "yekan";
    src: url("../assets/fonts/BYekan/BYekan+.ttf");
}

* {
    outline: 0;
    font-family: "yekan";
    box-sizing: border-box;
}

/* !nav */
#navbar .right-nav h5 {
    color: var(--quera-list);
    font-weight: 600;
    font-size: 20px;
}

#navbar .right-nav ul li:nth-child(2) {
    color: var(--light-mode-primary);
}

#navbar .left-nav button {
    background-color: var(--light-mode-primary);
    border-radius: 6px;
    color: var(--light-mode-white);
    width: 167px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
}

#navbar .left-nav .dropdown-content {
    box-shadow: 0 12px 24px -6px #1414190F;
    border: 1px solid #EBEDEF;
    border-radius: 8px;
    width: 240px;
    height: 184px;
}

#navbar .left-nav .dropdown-content a {
    font-size: 14px;
    line-height: 24px;
    color: #191C1E;
}

#navbar .left-nav .dark-mode {
    border: 1px solid #E3E3E3;
}
/* ------------------------------- */
/* !header */

#header {
    background: linear-gradient(to bottom, #EBF3FF, #FFFFFF);
    height: 629px;
}

#header .header-btn .right-btn {
    width: 200px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--light-mode-primary);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

#header .header-btn .left-btn {
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #EBF3FE;
    font-weight: 600;
    font-size: 16px;
    color: var(--light-mode-primary);
}

/* !main-content */



#main .features h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
}

#main .features .features-title p {
    font-size: 18px;
    line-height: 30px;
}

#main p {
    color: var(--gray-p);
}

#main .features-items {
    grid-template-columns: repeat(4, 262px);
}

#main .features-items .item {
    box-shadow: 0 4px 63px 0 rgba(0, 0, 0, 0.03);
    border: 1px solid #F5F6F8;
    border-radius: 24px;
}

#main .features-items .item p {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

#main .download  p {
    line-height: 30px;
    font-size: 18px;
}

#main .download .right-title h2 {
    line-height: 72px;
    font-size: 40px;
    font-weight: bold;
}

#main .download .right-footer a {
    color: var(--light-mode-primary);
}

#main .comment-container .comment-header h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 72px;
}

#main .comment-container .comment-header p {
    font-size: 18px;
    line-height: 30px;
}

#main .comment-container .comment-cards .card-title-desc p {
    color: var(--dark-gray-p);
}

#main .comment-container .card {
    box-shadow: 0 4px 63px 0 rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    border: 1px solid #F5F6F8;
    padding: 2rem;
    width: 360px;
    align-items: center;
}

#main .comment-container .comment-footer div {
    border: 1px solid #E3E6E8;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    padding: 10px;
}

/* !footer */

#footer .location p {
    font-size: 14px;
    line-height: 176%;
}

#footer .left-body-footer .left-body-email {
    border: 1px solid #A1A1A1;
    border-radius: 10px;
    width: 335px;
    height: 48px;
}

#footer .left-body-footer .left-body-email span {
    font-size: 14px;
    color: #BCBCBC;
    margin-right: 24px;
}

#footer .left-body-footer .left-body-email button {
    width: 65px;
    height: 36px;
    border-radius: 8px;
    background-color: #037FFF;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    margin-left: 6px;
}

#footer .footer-end p {
    font-size: 18px;
    color: #666666;
    line-height: 100%;
}

/* !responsive design */

@media screen and (max-width: 450px) {
    /* !navbar */
    #navbar {
        padding: 12px 16px;
        align-items: center;
        justify-content: center;
    }
    #navbar .right-nav {
        align-items: center;
    }
    #navbar .left-nav, #navbar .right-nav ul {
        display: none;
    }
    #navbar .right-nav img {
        display: block;
    }
    #navbar > .mobile {
        display: block;
    }
    /* !header */
    #header {
        height: 420px;
    }
    #header .header-title {
        margin-top: 70px;
    }
    #header .header-title h2 {
        font-size: 24px;
    }
    #header .header-title h1 {
        font-size: 28px;
    }
    #header .header-content {
        margin-top: 60px    ;
    }
    #header .header-content p {
        font-weight: 500;
        font-size: 12px;
        padding: 0 24px;
    }
    #header .header-title .desktop {
        display: none;
    }
    #header .header-title .mobile {
        display: block;
        padding-top: 24px;
    }
    #header .header-btn {
        margin-top: 32px;
    }
    #header .header-btn .right-btn, #header .header-btn .left-btn{
        width: 140px;
        height: 40px;
        font-size: 12px;
        padding: 0 16px;
    }
    #header .header-shapes {
        display: none;
    }
    #header .header-shapes-mobile img {
        display: block;
    }
    /* !main-content */
    #main {
        row-gap: 40px;
        padding: 0 16px;
    }
    /* main-picture */
    #main .main-picture .desktop {
        display: none;
    }
    #main .main-picture .mobile {
        display: block;
    }
    /* main-features */
    #main .features .features-title h2 {
        font-size: 20px;
        text-align: center;
    }
    #main .features .features-title .desktop {
        display: none;
    }
    #main .features .features-title .mobile {
        display: block;
        padding: 0 40px;
        width: 24rem;
        text-align: center;
        font-size: 12px;
        color: #141414;
    }
    #main .features .features-shapes {
        display: none;
    }
    #main .features-items {
        height: 328px;
        grid-template-columns: repeat(2, 140px);
        gap: 16px;
    }
    #main .features-items .item {
        height: 156px;
        padding: 5px;
    }
    #main .features-items .item img {
        width: 40px;
        height: 40px;
    }
    #main .features-items .item h3 {
        font-size: 12px;
    }
    #main .features-items .item p {
        font-size: 12px;
        line-height: 16px;
    }
    /* main-download */
    #main .download {
        gap: 0;
    }
    #main .download .right-side .right-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main .download .right-side .right-title p {
        font-size: 12px;
    }
    #main .download .right-side .right-title h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #main .download .right-side .right-title .mobile {
        display: block;
    }
    #main .right-content p {
        font-size: 10px;
        color: #141414;
        width: 17rem;
        text-align: center;
    }
    #main .right-side .right-footer {
        margin: auto;
        position: relative;
        bottom: 20px;
    }
    #main .right-side .right-footer a {
        font-size: 12px;
    }
    #main .download .left-side  .desktop {
        display: none;
    }
    /* main-comment */
    #main .comment-container {
        column-gap: 32px;
    }
    #main .comment-container .comment-header h2 {
        font-size: 20px;
    }
    #main .comment-container .comment-header p {
        padding-top: 1px;
        font-size: 11px;
        color: #141414;
    }
    #main .comment-container .comment-cards .right-cards, #main .comment-container .left-cards  {
        display: none;
    }
    #main .comment-container .comment-cards .middle-cards :first-child.card {
        display: none;
    }
    #main .comment-container .comment-shape {
        display: none;
    }
    /* !footer */
    #footer {
        display: none;
    }

    #footer-mobile {
        display: flex;
        flex-direction: column;
        margin: 48px 16px 0 16px;
    }
    #footer-mobile .footer-mobile-header {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    #footer-mobile .footer-mobile-header h4 {
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
    }
    #footer-mobile .footer-mobile-body {
        margin-top: 24px;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-title h4  {
        font-size: 14px;
        font-weight: 700;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-title p {
        font-size: 12px;
        color: #242424;
        padding-top: 8px;
        width: 16.5rem;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-contact .footer-mobile-body-btn {
        border: 1px solid #A1A1A1;
        margin-top: 32px;
        border-radius: 10px;
        width: 320px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    #footer-mobile .footer-mobile-body-btn button {
        margin: 6px;
        width: 65px;
        height: 36px;
        background-color: var(--light-mode-primary);
        color: #fff;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 900;
    }
    #footer-mobile .footer-mobile-body-btn span {
        font-size: 14px;
        color: #BCBCBC;
        align-self: center;
        margin: 13px 24px 13px 0;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-address {
        margin-top: 32px;
        display: flex;
        gap: 16px;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-address .footer-mobile-address-right address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #F5F6F8;
        border-radius: 16px;
        padding: 20px 0;
        height: 100%;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-address .footer-mobile-address-right 
    address p {
        padding: 16px;
        font-size: 12px;
        width: 9.5rem;
        text-align: center;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-address .footer-mobile-address-left {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-address .footer-mobile-address-left address {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: 1px solid #F5F6F8;
        border-radius: 16px;
        padding: 25px;
    }
    #footer-mobile .footer-mobile-body .footer-mobile-body-address .footer-mobile-address-left 
    address p {
        width: 5rem;
        font-size: 10px;
        font-weight: 500;
    }
    #footer-mobile .footer-mobile-end {
        margin-top: 40px;
        justify-items: center;
        text-align: center;
    }
    #footer-mobile .footer-mobile-end p {
        font-size: 12px;
        width: 16rem;
        color: #666666;
    }
}